body, ul {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 410px;
  margin: 0 auto;
}

h1 {
  font: 60px 'Supermercado One', cursive;
}

.score {
  font: 32px 'Supermercado One', cursive;
  width: 50px;
  height: 50px;
  background: cornflowerblue;
  position: absolute;
  right: 0;
  line-height: 50px;
  text-align: center;
}

.snake-box {
  margin: auto;
  border: 5px solid black;
  width: 400px;
  height: 400px;
}

ul {
  background: pink;
  list-style-type: none;
  display: flex;
}

li {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.snake-body {
  background: cornflowerblue;
}

.apple {
  background: red;
}

.play-pause-button {
  border: none;
  font-size: 32px;
  margin: 20px auto;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause-button:focus { outline: none; }

.play-pause-button:hover {
  cursor: pointer;
  background: cornflowerblue;
}
